<div id="about"></div>
<section id="intro" class="content-block-nopad services">
  <div class="underlined-title">
    <hr>
  </div>
</section>

<section id="content-left" class="content-block content-left">
    <div class="image-container col-sm-6 col-xs-12 pull-right">
        <div class="background-image-holder"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 content pull-left">
                <h3>About Us</h3>
                <p>Kernel Creative Media is an integrated web and marketing firm with almost two decades of experience. We listen, collaborate, and form customized solutions for you. Let us help grow your business and make it remarkable!</p>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container -->
</section>
