<section id="intro" class="content-block-nopad services">
    <div class="container">
        <div class="col-sm-12">
            <div class="underlined-title">
                <h1>{{ site.title }}</h1>
                <hr>
                <h2>{{ site.subtitle }}</h2>
            </div>
        </div>
    </div>

    <div id="about"></div>
</section>

<section id="content-left" class="content-block content-left">
    <div class="image-container col-sm-6 col-xs-12 pull-right">
        <div class="background-image-holder"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 content pull-left">
                <h3>About Us</h3>
                <p>Kernel Creative Media was formed by Matt Banks as a company to serve the web development needs of New York’s Capital Region. Specializing in the latest in open source web technologies, we’ll make your website stand out from the crowd.</p>
                <p>Whether you need a one page website, a customized Content Management System or a complex E-Commerce online store, Kernel Creative Media can deliver a stunning, fully functional Search Engine Optimized website within your budget.</p>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container -->
</section>
