<div class="map min-height-500px"></div>

<section id="contact" class="content-block contact">
    <div class="container text-center">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="underlined-title">
                <h1>Get in Touch</h1>
                <hr>
                <h2>Feel free to drop us a line to contact us</h2>
            </div>
            <p>If you have any questions, would like a quote on a new website or changes and updates to your current website, please contact us!</p>
            <ul class="contact-info">
                <li>
                    <span class="fa fa-map-marker"></span>
                   Saratoga Springs, NY
                </li>
                <li>
                    <span class="fa fa-phone"></span>
                    (518) 893-1266
                </li>
                <li>
                    <span class="fa fa-envelope"></span>
                    <a href="mailto:info@kernelcreativemedia.com">info@kernelcreativemedia.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>
