<!-- COUNTER -->
<section id="content-counter" class="content-counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="counter-icon">
                    <span class="fa fa-trophy"></span>
                </div>
                <div class="counter-text">
                    <h3 class="counter">137</h3>
                    <span>Cool things done</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="counter-icon">
                    <span class="fa fa-coffee"></span>
                </div>
                <div class="counter-text">
                    <h3 class="counter">3682</h3>
                    <span>Cups of pour over coffee</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="counter-icon">
                    <span class="fa fa-gamepad"></span>
                </div>
                <div class="counter-text">
                    <h3 class="counter">18254</h3>
                    <span>Hours of gaming</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="counter-icon">
                    <span class="fa fa-code"></span>
                </div>
                <div class="counter-text">
                    <h3 class="counter">96724</h3>
                    <span>Lines of code written</span>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
