<section class="content-block-nopad bg-dark footer-wrap">
    <div class="container footer">
        <div class="row">
            <div class="col-sm-5">
                <img src="assets/images/logo-white.png" alt="logo" class="brand-img img-responsive">
                <h4>About Us</h4>
                <p>{{ site.description }}</p>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Shortcuts</h4>
                        <ul class="soft-scroll">
                            {% for link in site.navigation %}
                            <li class="nav-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Follow Us</h4>
                        <ul class="social social-light">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="copyright-bar">
    <div class="container">
        <p class="pull-left small">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a></p>
    </div>
</div>
