<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }} - {{ site.subtitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ "/assets/images/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700,900"  type='text/css'>

    <!-- Style Library -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/plugins.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/components.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/rs-plugin/css/settings.css" | prepend: site.baseurl }}">

    {% include seo.html %}
    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
