<div id="portfolio"></div>

<section class="content-block gallery gallery">
    <div class="container">
        <div class="underlined-title">
            <h1>A selection of our work</h1>
            <hr>
        </div>
        <ul class="filter">
            <li class="active">
                <a href="#" data-filter="*">All</a>
            </li>
            <li>
                <a href="#" data-filter=".artwork">Artwork</a>
            </li>
            <li>
                <a href="#" data-filter=".creative">Creative</a>
            </li>
            <li>
                <a href="#" data-filter=".nature">Nature</a>
            </li>
            <li>
                <a href="#" data-filter=".outside">Outside</a>
            </li>
            <li>
                <a href="#" data-filter=".photography">Photography</a>
            </li>
        </ul>
        <!-- /.gallery-filter -->
        <div class="row">
            <div class="isotope-gallery-container">
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-1.jpg" class="img-responsive" alt="1st gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-1.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-2.jpg" class="img-responsive" alt="2nd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-2.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-3.jpg" class="img-responsive" alt="3rd gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-3.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-4.jpg" class="img-responsive" alt="4th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-4.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-5.jpg" class="img-responsive" alt="5th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-5.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-6.jpg" class="img-responsive" alt="6th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-6.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-7.jpg" class="img-responsive" alt="7th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-7.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /.gallery-item-wrapper -->
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="assets/images/portfolio/post-img-8.jpg" class="img-responsive" alt="8th gallery Thumb">
                            <div class="image-overlay"></div>
                            <a href="assets/images/portfolio/post-img-8.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.isotope-gallery-container -->
            <div class="col-md-12 text-center">
            <h3 class="text-center">We turn great ideas into brilliant realities.</h3>
            <p class="text-center">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus<br> possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#" class="btn btn-outline btn-outline outline-light-full text-center">Want to see more?</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
