<div id="portfolio"></div>

<section class="content-block gallery gallery">
    <div class="container">
        <div class="underlined-title">
            <h1>A selection of our work</h1>
            <hr>
        </div>
        <ul class="filter">
            <li class="active">
                <a href="#" data-filter="*">All</a>
            </li>
            {% for tag in page.available_tags %}
            <li>
                <a href="#" data-filter=".{{ tag }}">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- /.gallery-filter -->
        <div class="row">
            <div class="isotope-gallery-container">
                {% for item in page.portfolio %}
                <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper {{ item.tags | join: ' '}}">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="{{ item.image | prepend: site.baseurl }}" class="img-responsive" alt="">
                            <div class="image-overlay"></div>
                            <a href="{{ item.image | prepend: site.baseurl }}" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                            <a href="{{ item.link }}" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                        </div>
                        <p style="text-align: center">{{ item.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.isotope-gallery-container -->
            <div class="col-md-12 text-center">
            <h3 class="text-center">We turn great ideas into brilliant realities.</h3>
            <p class="text-center">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus<br> possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#contact" class="btn btn-outline btn-outline outline-light-full text-center soft-scroll">Want to see more?</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
