<!-- SERVICES -->
<section id="services" class="content-block services">
    <div class="container">
        <div class="col-sm-12">
            <div class="underlined-title">
                <h1>Services. What we do.</h1>
                <hr>
                <h2>We utilize the the best open source web technologies to make your website thrive on all platforms.</h2>
            </div>
        </div>
    </div>
</section>

<!-- COLORFUL SERVICES -->
<div class="colorful-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-wordpress blue"></i>
                        <div class="ui-details">
                            <h3>WordPress Development</h3>
                            <p>Our platform of choice is WordPress, an open source Content Management Systems (CMS). We build upon the WordPress framework to deliver a customized website to suit your needs. Utilizing the Genesis Framework, custom content types and taxonomies for categorization with Pods Framework, and easy to use tools to enable you to push your website forward, WordPress meets the needs of our clients on a daily basis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-drupal yellow"></i>
                        <div class="ui-details">
                            <h3>Drupal Development</h3>
                            <p>When enterprise scalability and interoperability is needed, we turn to Drupal, also an open source Content Management System (CMS). Used by powerhouse sites such as The White House, The Examiner, and The Grammy Awards, Drupal is well equipped to scale to the needs of the largest of web applications. From custom web applications to third party data integration, blogs, forums, and much more, Drupal is a wonderful tool to power your website.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-mobile purple"></i>
                        <div class="ui-details">
                            <h3>Mobile Web Development</h3>
                            <p>Who doesn’t want to go mobile these days? We offer mobile website development as an option with any of our website packages! Whether you need a responsive design or an entirely new look and feel for iPhones, iPads, Android, BlackBerry, Windows Mobile, or other smartphone and tablet devices, we’ll deliver a custom solution to meet your exact needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SERVICES BLUE -->
<section id="content-services" class="content-block content-services bg-primary">
    <div class="container">
        <!-- Start Row -->
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-code"></span>
                </div>
                <h3>A lot of lines of code</h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-heart"></span>
                </div>
                <h3>A lot of happy customers</h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-paint-brush"></span>
                </div>
                <h3>A lot of unlimited colors</h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <!--// END Row -->
    </div>
</section>
<!-- SERVICES END -->
