<!-- SERVICES -->
<section id="services" class="content-block services">
    <div class="container">
        <div class="col-sm-12">
            <div class="underlined-title">
                <h1>Services. What we do.</h1>
                <hr>
                <h2>We utilize the the best open source web technologies to make your website thrive on all platforms.</h2>
            </div>
        </div>
    </div>
</section>

<!-- COLORFUL SERVICES -->
<div class="colorful-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-mobile blue"></i>
                        <div class="ui-details">
                            <h3>Web and App Development</h3>
                            <p>We specialize in open source technologies to deliver cutting edge responsive websites, content management systems, progressive web apps, and mobile apps to suit all your needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-122">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-line-chart yellow"></i>
                        <div class="ui-details">
                            <h3>Strategy</h3>
                            <ul>
                              <li>Strategic planning</li>
                              <li>Brand positioning</li>
                              <li>Web Strategy</li>
                              <li>Content Strategy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="ui-item">
                    <div class="clearfix">
                        <i class="fa fa-bullhorn purple"></i>
                        <div class="ui-details">
                            <h3>Marketing</h3>
                            <ul>
                              <li>Advertising</li>
                              <li>Social Media</li>
                              <li>PR</li>
                              <li>Digital Marketing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SERVICES BLUE -->
<section id="content-services" class="content-block content-services bg-primary">
    <div class="container">
        <!-- Start Row -->
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-paper-plane-o"></span>
                </div>
                <h3>Be unique</h3>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-paint-brush"></span>
                </div>
                <h3>Be bold</h3>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="icon-outline">
                    <span class="fa fa-beer"></span>
                </div>
                <h3>Be fun</h3>
            </div>
        </div>
        <!--// END Row -->
    </div>
</section>
<!-- SERVICES END -->
