<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE 1-->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
                <!-- MAIN IMAGE -->
                <img src="assets/images/revolution/bg1.jpg" alt="slidebg1" data-lazyload="assets/images/revolution/bg1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <!-- LAYER -->
                <div class="tp-caption re-title-v1 sft start"
                    data-x="center"
                    data-hoffset="0"
                    data-y="270"
                    data-speed="1500"
                    data-start="500"
                    data-easing="Back.easeInOut"
                    data-endeasing="Power1.easeIn"
                    data-endspeed="300">
                    {{ site.title }}
                </div>
                <!-- END LAYER -->

                <!-- LAYER -->
                <div class="tp-caption re-text-v1 sft"
                    data-x="center"
                    data-hoffset="0"
                    data-y="350"
                    data-speed="1400"
                    data-start="2000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off"
                    style="z-index: 6">
                    {{ site.subtitle }}
                </div>
                <!-- END LAYER -->

                <!-- LAYER -->
                <div class="tp-caption sft"
                    data-x="center"
                    data-hoffset="0"
                    data-y="430"
                    data-speed="1600"
                    data-start="2800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off"
                    style="z-index: 6">
                    <a href="#about" class="btn btn-outline btn-outline outline-light-full">Learn More</a>
                </div>
                <!-- END LAYER -->
            </li>
            <!-- END SLIDE -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->
