<!-- TEAM -->
<section id="team" class="content-block">
    <div class="underlined-title">
        <h1>Say hello to the team</h1>
        <hr>
    </div>

    <div class="team">

        <div class="container">

            <div class="row">
                {% for teammember in page.team %}
                <div class="col-md-3 {% if forloop.first %}col-md-offset-3{% endif %} col-sm-6">
                    <div class="team-member">
                        <div class="img-container">
                            <img class="img-responsive" src="{{ teammember.image | prepend: site.baseurl }}" alt="" />
                            <div class="img-hover">
                                <div class="brand-bg">
                                    <a class="email" href="mailto:{{ teammember.email }}"><i class="fa fa-envelope-o"></i></a>
                                    <a class="twitter" href="https://twitter.com/{{ teammember.twitter }}"><i class="fa fa-twitter"></i></a>
                                    <a class="linkedin" href="https://www.linkedin.com/in/{{ teammember.linkedin }}"><i class="fa fa-linkedin "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-details">
                            <h4>{{ teammember.name }}</h4>
                            <span class="deg">{{ teammember.title }}</span>
                            <p>{{ teammember.bio }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

</section>
