<!-- TESTIMONIALS -->
<div class="testimonials bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-mob">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Details -->
                    <div class="ui-details">
                        <!-- Paragraph -->
                        <p>Sedut unde omnis natus error voluptatem doloremque architecto beatae vitae dicta sunt explicabo again is there anyone who loves or desires to obtain pain or pursues.</p>
                    </div>
                    <!-- User -->
                    <div class="ui-user clearfix">
                        <!-- User Image -->
                        <a href="#"><img src="assets/images/testimonials/1.jpg" alt="" /></a>
                        <!-- User Name -->
                        <h3>Bonor<span>Web Designer</span></h3>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-mob">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Details -->
                    <div class="ui-details">
                        <!-- Paragraph -->
                        <p>Neque porro quisquam dolorem, omnis consectetur, adipisci velit, dolore magnam desires to obtain pain quaerat voluptatem again is there anyone who loves or pursues.</p>
                    </div>
                    <!-- User -->
                    <div class="ui-user clearfix">
                        <!-- User Image -->
                        <a href="#"><img src="assets/images/testimonials/3.jpg" alt="" /></a>
                        <!-- User Name -->
                        <h3>Dolor<span>Web Developer</span></h3>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-mob">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Details -->
                    <div class="ui-details">
                        <!-- Paragraph -->
                        <p>At vero eos accusamus dignissimos ducimus qui or desires to obtain pain praesentium voluptatum deleniti molestias excepturi sint occaecati again is there anyone who loves.</p>
                    </div>
                    <!-- User -->
                    <div class="ui-user clearfix">
                        <!-- User Image -->
                        <a href="#"><img src="assets/images/testimonials/5.jpg" alt="" /></a>
                        <!-- User Name -->
                        <h3>Moles<span>.Net Developer</span></h3>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
        </div>
    </div>
</div>
<!-- TESTIMONIALS Ends -->
