<div class="map min-height-500px"></div>

<section id="contact" class="content-block contact">
  <div class="container text-center">
    <div class="col-sm-10 col-sm-offset-1 contact-submit-container">
      <div class="underlined-title">
        <h1>Get in Touch</h1>
        <hr />
        <h2>Feel free to drop us a line</h2>
      </div>
      <ul class="contact-info">
        <li>
          <span class="fa fa-map-marker"></span>
          Saratoga Springs, NY
        </li>
        <li>
          <span class="fa fa-envelope"></span>
          <a href="mailto:info@kernelcreativemedia.com"
            >info@kernelcreativemedia.com</a
          >
        </li>
      </ul>

      <div id="contact" class="form-container">
        <div id="message"></div>
        <form
          method="post"
          action="https://formspree.io/info@kernelcreativemedia.com"
          method="POST"
          name="contactform"
          id="contactform"
        >
          <div class="hidden">
            <input
              type="hidden"
              name="_subject"
              value="New contact request for {{ .Site.Title }}"
            />
            <input type="hidden" name="_next" value="{{ .Permalink }}#thankyou" />
            <input type="text" name="_gotcha" style="display:none" />
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input
                  name="name"
                  id="name"
                  type="text"
                  value=""
                  placeholder="Name"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input
                  name="_replyto"
                  id="email"
                  type="text"
                  value=""
                  placeholder="Email"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input
                  name="phone"
                  id="phone"
                  type="text"
                  value=""
                  placeholder="Phone"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea
              name="comments"
              id="comments"
              class="form-control"
              rows="5"
              placeholder="Message"
              required
            ></textarea>
            <p class="small text-muted">
              <span class="guardsman">* All fields are required.</span> Once we
              receive your message we will respond as soon as possible.
            </p>
          </div>
          <div class="form-group">
            <button
              class="btn btn-primary"
              type="submit"
              id="cf-submit"
              name="submit"
            >
              Send Message
            </button>
            <div class="cf-submit-spinner hidden">
              <i class="fa fa-spinner fa-spin "></i> Sending...
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
